<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0/EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.db2020.pj.entity.Customer" alias="customer"/>
		<typeAlias type="com.db2020.pj.entity.Goods" alias="goods"/>
		<typeAlias type="com.db2020.pj.entity.GoodsDetail" alias="goodsDetail"/>
		<typeAlias type="com.db2020.pj.entity.Emp" alias="empVO"/>
	</typeAliases>
	
</configuration>